<h1>web socket - nestjs</h1>
<hr />
<span>{{ settings.conected ? "online" : "offline" }}</span>

<br>
<input class="" [formControl]="jwt" type="text" placeholder="jwt">
<button class="btn btn-primary" (click)="connectToServer()">Connect</button>
<ul>
  <li *ngFor="let user of users; index as i_user">{{ user }}</li>
</ul>

<form [formGroup]="form">
  <input type="text" formControlName="message" placeholder="message" />
  <button class="btn btn-primary" (click)="save()">Send</button>
</form>

<h3>messages:</h3>

<ul>
  <li></li>
</ul>
